/*import the external global classes*/
@import 'themes.css';
@import './dashboard.css';
@import 'variables.css';

:global {
    /*global classes are here*/
    body {
        @apply --body;
        @apply --font-montserrat;
    }

    .app .app-body .main {
      padding-top: calc(29/16)em;
    }
}
