@import './variables.css';

:root {
    --font-sans: {
        font-family: 'sans-serif';
        font-style: normal;
        font-size: 2rem;
        font-weight: 200;
    };

    --font-roboto: {
        font-family: "Roboto";
    }

    --font-roboto-bold: {
        font-family: "Roboto, sans-serif";
        font-weight: bold;
    }

    --clear: {
        clear: both;
    }

    --error-field: {
        border: 1px solid $formErrorColor;
        border-radius: 0.2em;
    }

    --body: {
        font-size: $bodyFontSize;
    }

    --primary-button {
        color: white;
        background-color: $primaryButtonColor;
    }

    --primary-button-hover {
        box-shadow: 0 0.5em 1em 0 gray;
    }

    --font-montserrat: {
        font-family: "Montserrat";
        font-weight: 400;
    }

    --font-montserrat-medium: {
        font-family: "Montserrat";
        font-weight: 500;
    }

    --font-montserrat-semi-bold: {
      font-family: "Montserrat";
      font-weight: 600;
  }

    --font-montserrat-light: {
        font-family: "Montserrat";
        font-weight: 300;
    }

    --font-montserrat-thin: {
        font-family: "Montserrat";
        font-weight: 100;
    }

    --font-montserrat-bold: {
      font-family: "Montserrat";
      font-weight: 700;
    }

    --font-notoserif {
        font-family: 'Noto Serif', serif;
    }
}
