@import 'themes.css';
@import 'variables.css';

.error {
    border-bottom: 1px solid red;
}

.input:focus {
    border-bottom-color: $focusBorderBlue;
}

.submitBtn {
    @apply --primary-button;
    display: block;
    width: 50%;
    margin: 0.5em auto;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
}

.submitBtn:hover {
    @apply --primary-button-hover;
    color: white;
    text-decoration: unset;
}

.title {
    margin-bottom: 1em;
}
